--- 
layout: home_layout 
title: Home 
permalink: index.html 
---
<section class="container">
<div class="d-flex align-items-center mt-5 mb-3">
    <span class="header-emoji">:bowtie:</span> 
    <h3 class="h2 m-0">About Me</h3>
</div>
    <p class="text-justify">
        As a software developer specializing in web technologies, I can develop anything from simple, static sites to
        complex, ever-changing web applications. My background in engineering and mathematics and almost four years of developing software
        professionally has made me passionate about developing lean, clean, efficient, readable and maintainable code. In
        a field that is constantly changing and evolving, I have learned that it is essential to adapt and be aware of trending
        and upcoming technologies. This gurantees my clients receive a modern solution to their current problems.
    </p>
   <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:necktie:</span> 
        <h3 class="h2 m-0">Experience</h3>
    </div>
    <div class="list-group">
        {% for job in site.data.resume.experiences %}
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{job.employer}}</h5>
                <small class="text-muted">{{job.dateRange}}</small>
            </div>
            <p class="mb-1">{{job.title}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:mortar_board:</span> 
        <h3 class="h2 m-0">Education</h3>
    </div>
    <div class="list-group">
        {% for edu in site.data.resume.education %}
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{edu.degree}}</h5>
                <small class="text-muted">{{edu.dateRange}}</small>
            </div>
            <p class="mb-1">{{edu.campus}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:fire:</span> 
        <h3 class="h2 m-0">Skills</h3>
    </div>
    <div class="row">
        {% assign sortedSkills = site.data.resume.skills | sort: "rating" | reverse %}
        {% for skill in  sortedSkills %}
            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-between px-3">
                    <h5 class="mb-1">{{skill.skill}}</h5>
                    <p class="mb-1">
                        {% for star in (0..4) %} 
                            {% if star < skill.rating %} 
                                <i class="text-primary fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %} 
                        {% endfor %}
                    </p>
                </div> 
            </div>
        {% endfor %}
    </div>
</section>