--- 
layout: home_layout 
title: Home 
permalink: index.html 
jobTypesAllowed:
- technical
---
<section class="container mb-5">
    <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:bowtie:</span> 
        <h3 class="h2 m-0 text-monospace">About Me</h3>
    </div>
    <p>
        As a software developer specializing in web technologies, I can develop anything from simple, static sites to
        complex, ever-changing web applications. My background in engineering and mathematics and {{site.time | date: '%Y' | minus: 2014}} years of developing software
        professionally has made me passionate about developing lean, clean, efficient, readable and maintainable code. In
        a field that is constantly changing and evolving, I have learned that it is essential to adapt and be aware of trending
        and upcoming technologies.
    </p>
    <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:necktie:</span> 
        <h3 class="h2 m-0 text-monospace">Experience</h3>
    </div>
    <div class="list-group">
        {% assign allowedTypes = page.jobTypesAllowed | join: " "%}
        {% assign technicalJobs = site.data.resume.experiences | where_exp: "experience", "allowedTypes contains experience.type" %}
        {% for job in technicalJobs %}
            <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-0">{{job.employer}}</h5>
                    <div class="d-flex flex-column">
                        <small class="text-muted">{{job.location}}</small>
                        <small class="text-muted">{{job.dates}}</small>
                    </div>
                </div>
                <p class="mb-2">{{job.title}}</p>
                {% comment %} <p class="">
                    {% for tag in job.tags %}
                    <span class="text-monospace font-weight-normal bg-primary badge badge-pill badge-secondary">{{tag}}</span>
                    {% endfor %}
                </p> {% endcomment %}
                <ul>
                    {% for result in job.results %}
                    <li>{{result | markdownify | replace: '<p>' | replace: '</p>'}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:mortar_board:</span> 
        <h3 class="h2 m-0 text-monospace">Education</h3>
    </div>
    <div class="list-group">
        {% for edu in site.data.resume.education %}
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{edu.degree}}</h5>
                <small class="text-muted">{{edu.dates}}</small>
            </div>
            <p class="mb-1">{{edu.campus}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex align-items-center mt-5 mb-3">
        <span class="header-emoji">:fire:</span> 
        <h3 class="h2 m-0 text-monospace">Skills</h3>
    </div>
    {% comment %} <div class="row">
        {% assign sortedSkills = site.data.resume.skills | sort: "rating" | reverse %}
        {% for skill in  sortedSkills %}
            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-between px-3">
                    <h5 class="mb-1">{{skill.skill}}</h5>
                    <p class="mb-1">
                        {% for star in (0..4) %} 
                            {% if skill.rating == 5 %}
                                <i class="text-primary fas fa-star"></i>
                            {% else %}
                                {% if star < skill.rating %} 
                                    <i class="text-secondary fas fa-star"></i>
                                {% else %}
                                    <i class="text-secondary far fa-star"></i>
                                {% endif %} 
                            {% endif %}
                        {% endfor %}
                    </p>
                </div> 
            </div>
        {% endfor %}
    </div> {% endcomment %}
    {% assign sortedSkills = site.data.resume.skills | sort: "rating" | reverse %}
        <div class="row">
            {% for skill in sortedSkills %}
            {% if skill.show %}
                <div class="col-sm-3 d-flex align-items-center">
                    <span class="pr-1 text-monospace">{{skill.skill}}</span>
                    {% for star in (0..4) %} 
                        {% if star < skill.rating %} 
                            <i class="text-primary fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %} 
                    {% endfor %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
</section>