<section class="contact">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<div class="section-title title-ex1 text-center">
					<h2 class="title-text">Contact Us</h2>
					<p class="description">Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 d-flex flex-column flex-md-row flex-lg-row justify-content-around">
				<div class="col-xs-12 media contact-media d-flex align-items-center">
					<div class="icon icon-circle">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="media-body">
						Address
						<br> {{site.address}}

					</div>
				</div>
				<div class="media contact-media d-flex align-items-center">
					<div class="icon icon-circle">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<div class="media-body">
						Phone
						<br> {{site.phone}}
					</div>
				</div>
				<div class="media contact-media d-flex align-items-center">
					<div class="icon icon-circle">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<div class="media-body">
						Email
						<br> {{site.email}}
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<form netlify netlify-honeypot="bot-field" id="contact-form" class="form" method="post" novalidate="true">
					<div class="row form-group">
						<label class="form-control-label col-md-12" for="form_name">Name</label>
						<div class="col-md-12 pb-4">
							<input required="required" type="text" class="form-control mb-1" id="form_name" name="name">
							<small class="form-control-feedback">Name is required</small>
						</div>
					</div>
					<div class="row form-group">
						<label class="form-control-label col-md-12" for="form_phone">Phone</label>
						<div class="col-md-12 pb-4">
							<input pattern="\d{3}[\-]\d{3}[\-]\d{4}" required="required" type="tel" class="form-control mb-1" id="form_phone" name="phone">
							<small class="form-control-feedback">Phone is required</small>
						</div>
					</div>
					<div class="row form-group">
						<label class="form-control-label col-md-12" for="form_email">Email</label>
						<div class="col-md-12 pb-4">
							<input required="required" type="email" class="form-control mb-1" id="form_email" name="email">
							<small class="form-control-feedback">Email is required</small>
						</div>
					</div>
					<div class="row form-group">
						<label class="form-control-label col-md-12" for="form_message">Message</label>
						<div class="col-md-12 pb-4">
							<textarea required="required" class="form-control mb-1" id="form_message" name="message" rows="6"></textarea>
							<small class="form-control-feedback">Message is required</small>
						</div>
					</div>
					<div class="d-flex justify-content-center ">
						<button disabled type="submit" class="btn btn-submit btn-lg btn-primary">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>